/* Min Width 1400px */
@media only screen and (min-width:1400px){

    .container{
       
    }
}

/* Min Width 992px */
@media only screen and (min-width:992px){

    .ams-nav-menu .sub-menu{
        position: absolute;
        display: block !important;
        width: 250px;
        background: var(--white-color);
        box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: transform 0.3s ease-in-out;
        z-index: 99;
    }

    .ams-nav-menu li:hover > .sub-menu{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .sub-menu li a{
        position: relative;
        display: block;
        font-size: .95rem;
        border-bottom: 1px dashed #ededed;
        padding: 10px 15px;
    }

    .sub-menu li a:hover{
        color: var(--secondary-color);
        padding-left: 20px;
    }

}

/* Max Width 1199px */
@media only screen and (max-width:1199px){

}

/* Max Width 767px */

@media only screen and (max-width:767px){

}

/* Max Width 575px */

@media only screen and (max-width:575px){
}

/* Max Width 480px */

@media only screen and (max-width:480px){

}

/* Max Width 416px */

@media only screen and (max-width:416px){

}

/* Max Width 380px */

@media only screen and (max-width:380px){

}

/* Max Width 320px */

@media only screen and (max-width:320px){

}