/* Min Width 1400px */
@media only screen and (min-width:1400px){

    .container-right{
        padding-left: calc((100% - 1320px) / 2 + 15px) !important;
        padding-right: 0;
    }
}

/* Min Width 1200px */
@media only screen and (min-width:1200px){

    .container-right{
        padding-left: calc((100% - 1140px) / 2 + 15px);
        padding-right: 0;
    }

    .ams-banner .banner-image{
        position: absolute;
        width: 50%;
        top: 0;
        right: 0;
    }
}

/* Min Width 992px */
@media only screen and (min-width:992px){

    .ams-nav-menu .sub-menu{
        position: absolute;
        display: block !important;
        width: 250px;
        background: var(--white-color);
        box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
        opacity: 0;
        visibility: hidden;
        transform: translateY(50px);
        transition: transform 0.3s ease-in-out;
        z-index: 99;
    }

    .ams-nav-menu li:hover > .sub-menu{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .sub-menu li a{
        position: relative;
        display: block;
        font-size: .95rem;
        border-bottom: 1px dashed #ededed;
        padding: 10px 15px;
    }

    .sub-menu li a:hover{
        color: var(--secondary-color);
        padding-left: 20px;
    }

    .sec-heading p{
        max-width: 50%;
    }

}

/* Max Width 1199px */
@media only screen and (max-width:1199px){

    .container-right{
        padding-left: calc((100% - 960px) / 2 + 15px);
        padding-right: 0;
    }

    .banner-content h1{
        font-size: 3rem;
    }

    .contact-content h2{
        padding-right: 0;
    }

    .features-wpr{
        grid-template-columns: repeat(2,1fr);
        grid-gap: 24px;
    }
}

/* Max Width 991px */
@media only screen and (max-width:991px){

    .container-right{
        padding-left: calc((100% - 720px) / 2 + 15px);
        padding-right: 0;
    }

    .sec-spacer,
    .ams-banner{
        padding: 80px 0;
    }

    .ams-contact{
        padding-top: 80px;
    }

}

/* Max Width 767px */

@media only screen and (max-width:767px){

    .container-right{
        padding-left: calc((100% - 540px) / 2 + 15px);
        padding-right: 0;
    }

    .single-service{
        padding: 30px 24px;
    }

    .features-wpr{
        grid-template-columns: 1fr;
    }

}

/* Max Width 575px */

@media only screen and (max-width:575px){

    .container-right{
        padding-left: var(--bs-gutter-x,.75rem);
        padding-right: 0;
    }

}

/* Max Width 480px */

@media only screen and (max-width:480px){

    h2{
        font-size: 2.25rem;
    }

    .footer-top{
        padding-top: 100px;
    }

}

/* Max Width 416px */

@media only screen and (max-width:416px){

    h2{
        font-size: 1.88rem;
    }

    .banner-content h1 {
        font-size: 2.285rem;
    }

    .contact-form{
        padding: 32px 16px;
    }

    .service-content h2, .contact-content h2{
        line-height: 45px;
    }

}

/* Max Width 380px */

@media only screen and (max-width:380px){

    .banner-content h1 {
        font-size: 2rem;
    }

    .footer-menu div[class^="col-"]{
        width: 100%;
    }

}

/* Max Width 320px */

@media only screen and (max-width:320px){

    .banner-content h1 {
        font-size: 1.8rem;
    }

}