@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Manrope:wght@300;400;500;600;700&display=swap');

:root {

    /* Colors */
    --primary-color: #3734A9;
    --secondary-color: #0C0047;
    --title-color: #0C0047;
    --text-color: #64607D;
    --body-bg-color:  #F1F5FF;
    --white-color: #ffffff;

    /* Typography */
    --body-font: 'DM Sans', sans-serif;
    --title-font: 'Manrope', sans-serif;
    --font-weight-small: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-bolder: 800;

    /* Others */
    --transition: .3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: var(--body-font);
    background-color: var(--white-color);
    overflow: hidden;
    transition: all .3s, background-color 0s;
}

img {
    max-width: 100%;
    height: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    backface-visibility: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font);
    font-weight: var(--font-weight-bold);
    color: var(--title-color);
    margin-bottom: 0;
}

h1 {
    font-size: 3.75rem;
    font-weight: var(--font-weight-bolder);
    line-height: 1.33;
}

h2 {
    font-size: 2.5rem;
    font-weight: var(--font-weight-bolder);
    line-height: 55px;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1.15rem;
}

p{
    font: var(--font-weight-normal) 1.125rem/32px var(--body-font);
    color: var(--text-color);
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    font-family: var(--body-font);
}

a {
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--text-color);
}

input,
textarea,
select,
button {
    outline: none;
    border: none;
}

input::placeholder {
    font-size: 1rem;
    font-weight: var(--font-weight-small);
    color: var(--text-color-light);
}

/* General Css */

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.p-50 {
    padding: 50px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-200 {
    padding-top: 200px;
}

.pt-300 {
    padding-top: 300px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-200 {
    padding-bottom: 200px;
}

.px-50 {
    padding: 0 50px;
}

.px-100 {
    padding: 0 100px;
}

.py-70 {
    padding: 70px 0;
}

.py-80 {
    padding: 80px 0;
}

.mr-50 {
    margin-right: 50px;
}

.sec-spacer {
    padding: 100px 0;
}

.sec-spacer-50 {
    padding: 50px 0;
}

.sec-spacer-top{
    padding-top: 100px;
}

.sec-spacer-bottom{
    padding-bottom: 100px;
}

.ams-btn{
    display: inline-block;
    width: max-content;
    height: 45px;
    font-size: 1rem;
    color: var(--primary-color);
    line-height: 45px;
    border: 1px solid var(--primary-color);
    border-radius: 7px;
    padding: 0 30px;
    text-align: center;
}

.primary-btn{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.primary-btn:hover{
    color: var(--primary-color);
    background-color: transparent;
}

.color-text{
    color: var(--primary-color);
}

.overflow-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    text-overflow: ellipsis;
}

.bg-shapes img{
    position: absolute;
    top: -30px;
    right: 0;
    animation: float-bob-y 3s linear infinite;
    z-index: -1;
}

/* Header */

.header-wpr{
    background-color: var(--body-bg-color);
    padding: 16px 0;
}

.ams-nav-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.ams-nav-menu li{
    position: relative;
}

.ams-nav-menu li a{
    display: block;
    font: var(--font-weight-semi-bold) 16px/21.86px var(--title-font);
    color: var(--primary-color);
    padding: 16px 0;
}

.ams-nav-menu .sub-menu li{
    display: block;
}

/* Banner */

.ams-banner{
    position: relative;
    background: url("../images/shapes/banner-shape.png") no-repeat center;
    background-size: cover;
    background-color: var(--white-color);
    padding: 100px 0;
    z-index: 1;
}

.color-title{
    color: var(--primary-color);
}

.ams-banner .banner-image{
    animation: float-bob-x 3s linear infinite;
    z-index: -1;
}

.ams-sec-banner::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(270deg, rgba(250, 104, 42, 0.5) 0%, rgba(196, 196, 196, 0) 100%);
}

.ams-sec-banner .banner-content{
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    transform: translateY(-10%);
}

/* Partners */

.partner-slider .item{
    vertical-align: baseline;
}

/* Service */

.sec-heading p{
    margin: 20px auto 0;
}

.service-content h2,
.contact-content h2{
    line-height: 60px;
    margin-bottom: 40px;
}

.single-service{
    background-color: #E8FFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 55px 40px;
    text-align: center;
    transition: transform var(--transition) ease-in-out;
}

.services-wpr div[class^='col-']:nth-child(2) .single-service{
    background-color: #E4F6FF;
}

.services-wpr div[class^='col-']:nth-child(3) .single-service{
    background-color: #FFF0F1;
}

.services-wpr div[class^='col-']:nth-child(3) .single-service{
    background-color: #FFF0F1;
}

.services-wpr div[class^='col-']:nth-child(4) .single-service{
    background-color: #E8E4FF;
}

.services-wpr div[class^='col-']:nth-child(5) .single-service{
    background-color: #FFE7D6;
}

.services-wpr div[class^='col-']:nth-child(6) .single-service{
    background-color: #DAECFF;
}

.services-wpr div[class^='col-']:nth-child(7) .single-service{
    background-color: #E1FCFF;
}

.services-wpr div[class^='col-']:nth-child(8) .single-service{
    background-color: #FFDAE8;
}

.single-service:hover{
    transform: translateY(-10px) !important;
    box-shadow: 1px 30px 100px 10px rgba(0, 0, 0, 0.25);
}

.single-service .service-content h6{
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    margin: 24px 0 10px;
}

.single-service .service-content p{
    font-size: .93rem;
    font-weight: var(--title-font);
    line-height: 24px;
}

.ams-service .bg-shapes img{
    top: 0;
    right: auto;
    left: 0;
    animation: float-bob-x 3s linear infinite;
}

.service-2 .single-service{
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: flex-start;
    grid-gap: 24px;
    text-align: left;
}

.service-2 .single-service h6{
    margin-top: 0;
}

.service-2 .single-service p{
    max-width: 65%;
}

/* Service Process */

.ams-service-process .sec-heading {
    margin-bottom: 120px;
}

.ams-service-process .sec-heading p{
    max-width: 70%;
    margin: 20px auto 16px 0;
}

.service-process-wpr{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    z-index: 1;
}

.service-process-wpr img{
    position: absolute;
    bottom: 70%;
    left: 0;
    width: 90%;
    z-index: -1;
}

.single-process .icon{
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 20px;
    margin-bottom: 32px;
}

.single-process .icon span{
    display: inline-block;
    width: 23px;
    height: 23px;
    background-color: var(--primary-color);
    border-radius: 10px;
}

.single-process{
    position: relative;
    max-width: 60%;
    margin-left: auto;
    z-index: 1;
}

.single-process:nth-child(2){
    bottom: 6%;
}

.single-process .process-nmbr{
    position: absolute;
    top: -5%;
    right: 0;
    width: max-content;
    font-size: 150px;
    font-weight: var(--font-weight-bolder);
    color: rgba(0, 0, 0, 0.05);
    z-index: -1;
}

/* Features */

.ams-features{
    position: relative;
    padding: 120px 0 100px;
    z-index: 1;
}

.ams-features > img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 95%;
    z-index: -1;
}

.features-wpr{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 32px;
}

.features-wpr-2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

.single-feature{
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 15px;
    padding: 30px;
    transition: var(--transition) ease-in;
}

.single-feature:hover{
    transform: translateY(-16px) !important;
}

.features-wpr-2 .single-feature{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    background-color: #D3FFE5;
    border-color: var(--primary-color);
    padding: 24px;
    text-align: left;
}

.single-feature p{
    margin: 20px 0;
}

.single-feature .read-more{
    font-family: var(--title-font);
    font-weight: var(--font-weight-semi-bold);
    color: var(--secondary-color);
    text-decoration: underline;
}

.features-wpr-2 .single-feature i{
    display: inline-block;
    width: 30px;
    height: 30px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
}

.features-wpr-2 .single-feature p{
    margin-top: 0;
}

.feature-list li{
    font: var(--font-weight-medium) 16px/30px var(--body-font);
    margin-left: 16px;
    list-style: disc;
}

.feature-list-2 li{
    position: relative;
    font: var(--font-weight-medium) 16px/30px var(--body-font);
    list-style: none;
    padding-left: 32px;
    margin-bottom: 16px;
}

.feature-list-2 li::before{
    position: absolute;
    content: "\f00c";
    left: 0;
    font: 600 14px 'Font Awesome 6 Free';
    width: 25px;
    height: 25px;
    line-height: 25px;
    color: var(--white-color);
    background-color: #6DD130;
    border-radius: 50%;
    text-align: center;

}

/* Faq */

.ams-faq,
.features-2{
    position: relative;
    z-index: 1;
}

.ams-faq::before,
.features-2::before{
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/shapes/faq-curve.png") no-repeat center;
    background-size: cover;
    z-index: -1;
}

.faq-shape1{
    top: 100px;
    left: 0;
    transform: rotate(180deg);
}

.faq-wpr{
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    z-index: 1;
}

.faq-list li{
    display: block;
    width: 100%;
    background-color: var(--white-color);
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    border-radius: 18px;
    padding: 40px 32px;
    margin-bottom: 24px;
}

.faq-list li input[type="radio"]{
    display: none;
}

.faq-list li label{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font: var(--font-weight-medium) 22px/1.5 var(--body-font);
    cursor: pointer;
    user-select: none;
    transition: 0.45s;
}

.faq-list li input[type="radio"] ~ label i{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 24px;
    color: var(--primary-color);
    background-color: var(--white-color);
    border-radius: 50%;
    box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
    text-align: center;
    line-height: 50px;
}

.faq-list li input[type="radio"]:checked ~ label i{
    color: var(--white-color);
    background-color: var(--primary-color);
    transform: rotate(-180deg);
}

.faq-list li input[type="radio"]:hover~ label,
.faq-list li input[type="radio"]:checked ~ label{
    color: var(--primary-color);
}

.faq-content-wpr{
    width: 100%;
    overflow-y: hidden;
    height: 0;
    transition: 1s;
}

.faq-content-wpr .content{
    padding-top: 20px;
}

.faq-list li input[type="radio"]:checked ~ .faq-content-wpr{
    max-width: 715px;
    height: max-content;
}

/* Blogs */

.blog-cat-links{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 10px;
}

.blog-cat-links a{
    display: inline-block;
    font-size: 1rem;
    color: #3D3D3D;
}

.blog-cat-links a.active{
    color: var(--primary-color);
    font-weight: var(--font-weight-medium);
}

.single-blog .blog-image img{
    border-radius: 10px;
}

.single-blog .blog-content .meta-data{
    display: flex;
    gap: 16px;
    margin-top: 10px;
}

.single-blog .blog-content .blog-title{
    display: inline-block;
    margin: 16px 0;
}

.single-blog .blog-content .ams-btn{
    margin-top: 16px;
}

.sidebar-blogs .single-blog{
    padding: 12px 0;
    border-bottom: 1px solid #DEE1E6;
}

.ams-pagination a{
    display: inline-block;
    width: 32px;
    height: 32px;
    font-size: .95rem;
    line-height: 32px;
    color: #212B36;
    border: 1px solid #DFE3E8;
    border-radius: 4px;
    margin-right: 5px;
}

.ams-pagination a:hover{
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* Newsletter */

.ams-news-letter{
    background-color: var(--primary-color);
}

.ams-news-letter .ams-btn{
    height: auto;
    font-size: 1.10rem;
    color: var(--primary-color);
    background-color: var(--white-color);
    margin-top: 24px;
    padding: 22px 40px;
    line-height: 1;
}

/* Testimonial */

.client-reviews .owl-stage-outer{
    overflow: visible;
    padding-bottom: 32px;
}

.client-reviews .owl-item{
    opacity: 0;
    visibility: hidden;
    cursor: not-allowed;
    pointer-events: none;
}

.client-reviews .owl-item.active{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
    pointer-events: auto;
}

.client-reviews .owl-item.middle .single-review{
    box-shadow: 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}

.owl-carousel .owl-dots {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 50%;
}

.owl-carousel .owl-dot {
    margin: 5px;
    outline: none;
    width: 16px;
    height: 16px;
    border: 1px solid var(--text-color) !important;
    border-radius: 50%;
    background: transparent;
    transition: 0.3s;
}
  
.owl-carousel .owl-dot.active {
background: var(--primary-color);
box-shadow: inset 0 0 0 3px #fff;
}

.ams-testimonial{
    position: relative;
    padding: 140px 0 60px;
    z-index: 1;
}

.ams-testimonial::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: url("../images/shapes/testimonial-curve.png") no-repeat left -40%;
    background-size: cover;
    z-index: -1;
}

.single-review{
    position: relative;
    background-color: var(--white-color);
    border: 1px solid #EDEDED;
    box-shadow: none;
    margin-top:30px;
    transition: box-shadow var(--transition) ease-in;
}

.single-review .review-content{
    padding: 50px 24px 24px;
}

.quote{
    position: absolute;
    top: -25px;
    left: 25px;
    display: inline-block;
    width: 54px;
    height: 54px;
    font-size: 20px;
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    line-height: 54px;
}

.review-ratings span{
    color: #FE8B75;
}

.review-msg{
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}

.single-review .client{
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    grid-column-gap: 10px;
    border-top: 1px solid #EAEFF3;
    padding: 24px;
}

.client-desig h6{
    font-size: 14px;
    font-weight: var(--font-weight-bold);
    margin-bottom: 5px;
}

.client-desig p{
    font-size: 12px;
    line-height: 14.52px;
}

/* Contact */

.ams-contact{
    padding-top: 130px;
    margin-bottom: -150px;
}

.contact-content h2{
    padding-right: 110px;
}

.contact-form{
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 80px 105.701px rgba(153, 171, 219, 0.7);
    border-radius: 20px;
    padding: 50px 32px;
    z-index: 10;
}

.contact-form .input-grp input,
.contact-form .input-grp textarea{
    width: 100%;
    height: 60px;
    border: 1px solid #CFCFCF;
    border-radius: 5px;
    padding: 0 24px;
    margin-bottom: 24px;
}

.contact-form input[type="checkbox"]{
    position: relative;
    appearance: none;
    width: 22px;
    height: 22px;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
    margin-right: 10px;
    vertical-align: sub;
}

.contact-form input[type="checkbox"]:checked::before{
    position: absolute;
    content: "\f00c";
    width: 100%;
    height: 100%;
    font-family: 'Font Awesome 6 Free';
    font-weight: var(--font-weight-semi-bold);
    color: var(--white-color);
    border-radius: 3px;
    background-color: var(--primary-color);
    text-align: center;
    line-height: 22px;
}

.contact-form .input-grp textarea{
    height: 165px;
    padding: 16px 24px;
}

.contact-links{
    position: relative;
    background-color: var(--white-color);
    border-radius: 8px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 60px 40px;
    margin: 32px 50px 0 0;
    z-index: 10;
}

.contact-links > p{
    max-width: 65%;
    font-size: .95rem;
    line-height: 1.7;
}

.contact-links ul li{
    display: flex;
    gap: 10px;
    margin-top: 8px;
}

.contact-links li a{
    display: block;
    color: #000;
}

/* Footer */

.ams-footer{
    position: relative;
    background: url("../images/shapes/footer-stripe.png") no-repeat left top;
    background-size: contain;
    padding-top: 250px;
    z-index: 1;
}

.ams-footer::before{
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("../images/shapes/footer-curve.png") no-repeat left top;
    background-size: cover;
    z-index: -1;
}

.ams-footer p{
    font-size: 1rem;
    color: var(--white-color);
}

.ams-footer a{
    display: inline-block;
    font-size: 1rem;
    line-height: 30px;
    color: var(--white-color);
    transition: var(--transition);
}

.ams-footer a:hover{
    color: #FE8B75;
}

.footer-top{
    padding: 200px 0 50px;
}

.footer-social-links a{
    font-size: 20px;
    margin-right: 16px;
}

.footer-menu li a{
    margin-bottom: 8px;
}

.footer-contact .contact-list li{
    display: grid;
    grid-template-columns: 25px 1fr;
    align-items: flex-start;
    grid-column-gap: 8px;
    font-size: 18px;
    margin-bottom: 24px;
}

.footer-contact .contact-list li a{
    line-height: 20px;
}

.footer-bottom{
    padding: 14px 0;
    border-top: 1px solid rgba(248,248,254,.8);
}

.footer-links a{
    color: #FE8B75;
    border-right: 1px solid var(--white-color);
    text-decoration: underline;
    text-decoration-color: #FE8B75;
    padding: 0 10px 0 5px;
    line-height: 1.1;
}

.footer-links a:first-child{
    color: var(--white-color);
    text-decoration: none;
    pointer-events: none;
}

/* Animation */

@keyframes toRightFromLeft {
    49% {
        -webkit-transform: translate(100%);
        transform: translate(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes toLeftFromRight {
    49% {
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translate(100%);
        transform: translate(100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    51% {
        opacity: 1;
    }
}

@keyframes toShortTopFromBottom {
    49% {
        margin-top: 10px;
    }
    50% {
        opacity: 0;
        margin-top: -10px;
    }
    51% {
        opacity: 1;
    }
}

@keyframes float-bob-x {
    0% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }

    50% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    100% {
        -webkit-transform: translateX(-30px);
        transform: translateX(-30px);
    }
}

@keyframes float-bob-y {
    0% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    50% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
}

@keyframes scale-bob {
    0% {
        -webkit-transform: scale(.2);
        transform: scale(.2);
    }

    50% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


